body{
    font-family: "Fira Sans Book", sans-serif;
    margin: 0;
    background-color: white;
    padding: 0;
}

p{
    margin: 0;
    font-size: 16px;
}

.container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product-details{
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition: transform 0.45s;
}

.product-details:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.product-title{
    max-width: 200px;
    font-size: 14px;
    font-family: 'Arial', fantasy;
    font-weight: bold;
}
.img{
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

.select-btn{
    margin-top: 2px;
    padding: 8px 8px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.cart-btn{
    margin-top: 2px;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    background-color: yellow;
    cursor: pointer;
    box-shadow: 0 0 10px  rgba(0,0,0,0.5);
    transition: box-shadow 0.5s;
}

.cart-btn:hover{
    box-shadow: none;
}
.cart-btn:active{
    background-color: yellow;
}
.added{
    margin-top: 2px;
    opacity: 0;
    color: black;
    padding: 2px 5px;
}

.random-header{
  display: flex;
  font-size: 40px;
  font-weight: 700;
  border: 2px solid black;
  margin: 10px 50px;
  height: 300px;
  border-radius: 10px;
}

.headline{
  border-right: 5px solid black;
  height: 300px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.random-image{
  position: relative;
}

.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  height: 100px;
}
